@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

$primary: #007bff;
$success: #28a745;
$warning: #ffc107;
$danger: #dc3545;

body {
	background: #f9f9f9;
	font-family: "Roboto", sans-serif;
}

.main-content {
	padding-top: 100px;
	padding-bottom: 100px;
}

.table{
	border-spacing: 0 15px;
    border-collapse: separate;
	thead, tbody{
		tr{
			th, td{
				vertical-align: middle;
				border:none;
				&:nth-last-child(1){
					text-align: center;
				}
			}
		}
	}
	tbody{
		tr{
			box-shadow: 0 2px 10px rgba(0,0,0,0.1);
			border-radius: 5px;
			td{
				background:#fff;
				&:nth-child(1){
					border-radius: 5px 0 0 5px;
				}
				&:nth-last-child(1){
					border-radius: 0 5px 5px 0;
				}
			}
		}
	}
}

.user-info{
	display:flex;
	align-items: center;
	&__img{
		img{
			margin-right:15px;
			height:55px;
			width:55px;
			border-radius: 45px;
			border:3px solid #fff;
			box-shadow: 0 2px 5px rgba(0,0,0,0.1);
		}
	}
}



// profile.php
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

$primary: #007bff;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;

body {
	background: #f9f9f9;
	font-family: "Roboto", sans-serif;
}

.shadow {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.profile-tab-nav{
	min-width:250px;
}
.tab-content{
	flex:1;
}
.form-group {
    margin-bottom: 1.5rem;
}

.nav-pills{
	a.nav-link{
		padding:15px 20px;
		border-bottom:1px solid #ddd;
		border-radius:0;
		color:#333;
		i{
			width:20px;
		}
	}
}

.img-circle {
	img {
		height: 100px;
		width: 100px;
		border-radius: 100%;
		border: 5px solid #fff;
	}
}
